@model WManager.Models.ApplicationUser

@{
    ViewBag.Title = "BrisanjeRadnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("BrisanjeRadnika", "Radnik", FormMethod.Post, FormMethod.Post, new { @class="tableForm"}))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Brisanje radnika</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @onkeyup = "onemoguciPolja()", @id = "emailPolje" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-2">
            <button type="button" class="btnTrazi" onclick="proveriRadnika()" style="width: 150px !important; margin-left: 230px;">Trazi radnika</button>
        </div>

    </div>
    <div class="form-group">
        <p id="podaciONadjenom">

        </p>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btnBrisi shouldCheckFirst" style="margin-left: 60px;">Obriši radnika</button>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    function proveriRadnika() {

        var email = document.getElementById("emailPolje").value

        if (proveriEmail(email)) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("TraziRadnika","Radnik")',
                data: '{Email: "' + document.getElementById("emailPolje").value + '"}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == 1) {
                        porukaUspeh("Radnik uspesno nadjen");
                        document.getElementById("podaciONadjenom").innerHTML =
                            "<h4>Podaci o traženom radniku</h4>"+
                            "Ime: " + data.radnik.FirstName + "<br/>" +
                            "Prezime: " + data.radnik.LastName + "<br/>" +
                            "Mejl: " + data.radnik.Email + "<br/>" +
                            "Telefon: " + data.radnik.PhoneNumber + "<br/>";

                        omoguciPolja();
                    }
                    if (data.status == 0) {
                        porukaNeuspeh("Radnik sa unetom email adresom nije nadjen!");

                        onemoguciPolja();
                    }
                    if (data.status == 2) {
                        porukaNeuspeh("Greska pri trazenju radnika!");

                        onemoguciPolja();
                    }
                }

            });
        }
        else {
            porukaNeuspeh("Morate uneti ispravan email!");

        }
    }
    </script>
}