@model WManager.Models.Artikal

@{
    ViewBag.Title = "Brisanje artikla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("BrisanjeArtikla", "Artikal", FormMethod.Post, new { @class="tableForm"}))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Brisanje artikla</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Barkod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Barkod, new { htmlAttributes = new { @class = "form-control", @id = "barkodPolje", @onkeyup = "onemoguciPolja()" } })
            @Html.ValidationMessageFor(model => model.Barkod, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <button type="button" class="btnTrazi" onclick="proveriArtikal()">Trazi artikal</button>
        </div>
    </div>
    <div class="form-group">
       <p id="podaciONadjenom">
          
        </p>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btnBrisi shouldCheckFirst">Obrisi</button>
            </div>
        </div>
    </div>
    }

    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
    function proveriArtikal() {

        var barkod = document.getElementById("barkodPolje").value
        console.log(barkod);
        if (barkod !== "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("TraziArtikal","Artikal")',
                data: '{barkod: "' + document.getElementById("barkodPolje").value + '"}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == 1) {
                        porukaUspeh("Uspesno pronadjen artikal");
                        document.getElementById("podaciONadjenom").innerHTML =
                            "<h4>Podaci o nađenom artiklu:</h4>Naziv: " + data.artikal.Naziv +
                            "<br/>Kolicina: " + data.artikal.Kolicina +
                            "<br/>Zemlja porekla: " + data.artikal.ZemljaPorekla +
                            "<br/>Proizvodjac: " + data.artikal.Proizvodjac;
                        
                        omoguciPolja();
                    }
                    if (data.status == 0) {
                        porukaNeuspeh("Artikal sa unetim barkodom nije nadjen");
                        document.getElementById("podaciONadjenom").innerHTML = "";
                        onemoguciPolja();
                    }
                    if (data.status == 2) {
                        porukaNeuspeh("Poslat barkod pogresne duzine!");
                        document.getElementById("podaciONadjenom").innerHTML = "";
                        onemoguciPolja();
                    }
                }

            });
        }
        else {
            porukaNeuspeh("Barkod mora imati 13 brojeva!");
            document.getElementById("podaciONadjenom").innerHTML = "";
        }
    }
        </script>
    }
