@model WManager.Models.Artikal

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form class="tableForm">
        <h2>Detalji artikla</h2>

        <div>
            <h4>Artikal</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Barkod)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Barkod)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Naziv)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Naziv)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kolicina)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kolicina)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZemljaPorekla)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZemljaPorekla)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Proizvodjac)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Proizvodjac)
                </dd>

            </dl>
        </div>
    </form>


