@model IEnumerable<WManager.Models.Artikal>

@{
    ViewBag.Title = "Trazi artikal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rezultati pretrage</h2>


<table class="table" id="articleTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barkod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZemljaPorekla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvodjac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Barkod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kolicina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZemljaPorekla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proizvodjac)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Barkod }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Barkod }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Barkod })
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts{

    <script src="~/Scripts/datatables/datatables.min.js"></script>
    <link href="~/Scripts/datatables/datatables.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#articleTable').DataTable();
        });
    </script>
}
