<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/myStyles")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    <li>@Html.ActionLink("Lista artikala", "Index", "Artikal")</li>
                    <li>@Html.ActionLink("Novi artikal", "UnesiNoviArtikal", "Artikal")</li>
                    <li>@Html.ActionLink("Izmena artikla", "IzmeniArtikal", "Artikal")</li>
                    <li>@Html.ActionLink("Brisanje artikla", "BrisanjeArtikla", "Artikal")</li>
                    <li>@Html.ActionLink("Skidanje sa stanja", "SkidanjeSaStanja", "Artikal")</li>
                    <li>@Html.ActionLink("Pretraga artikala", "PretragaArtikala", "Artikal")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScripts")
    @RenderSection("scripts", required: false)
    @if (TempData["AlertSuccess"] != null)
    {
        <script>
             Lobibox.notify('success', {
             pauseDelayOnHover: true,
             continueDelayOnInactiveTab: false,
             msg: "@TempData["AlertSuccess"]",
             title: 'Uspeh'
             });
        </script>
    }
    @if (TempData["AlertError"] != null)
    {
        <script>
             Lobibox.notify('error', {
             pauseDelayOnHover: true,
             continueDelayOnInactiveTab: false,
             msg: "@TempData["AlertError"]",
             title: 'Greška'
    });
        </script>
    }
</body>
</html>
