<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/myStyles")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container header-nav">
            <div class="navbar-heade header-navr">
                <button class="toggleSidebar" onclick="openSidebar('sidebar')"> <img src="~/Content/Images/menu.png" alt="• • •" class="menu-img" /> </button>
            </div>
            <div>
                <ul class="nav navbar-nav nav-sidebar" id="sidebar" style="display:none;">

                    @*zameniti nazive*@

                    <li class="sideItem" onclick="openSubitem('subitem')" style="padding-top: 10px; padding-bottom: 10px; line-height: 20px;">
                        Artikli
                    </li>
                    <li>
                        <ul class="nav navbar-nav subitem" id="subitem" style="display:none; width: 100% !important">
                            <li>@Html.ActionLink("Lista artikala", "Index", "Artikal")</li>
                            <li>@Html.ActionLink("Novi artikal", "UnesiNoviArtikal", "Artikal")</li>
                            <li>@Html.ActionLink("Izmena artikla", "IzmeniArtikal", "Artikal")</li>
                            <li>@Html.ActionLink("Brisanje artikla", "BrisanjeArtikla", "Artikal")</li>
                            <li>@Html.ActionLink("Skidanje sa stanja", "SkidanjeSaStanja", "Artikal")</li>
                            <li>@Html.ActionLink("Pretraga artikala", "PretragaArtikala", "Artikal")</li>

                        </ul>

                    </li>
                    <li class="sideItem" onclick="openSubitem2('subitem2')">
                        Radnici
                    </li>
                    <li>
                        <ul class="nav navbar-nav subitem" id="subitem2" style="display:none; width: 100% !important">
                            <li>@Html.ActionLink("Lista radnika", "Index", "Radnik")</li>
                            <li>@Html.ActionLink("Izmena radnika", "IzmenaRadnika", "Radnik")</li>
                            <li>@Html.ActionLink("brisanje radnika", "BrisanjeRadnika", "Radnik")</li>
                            <li>@Html.ActionLink("trazi radnika", "TraziRadnika", "Radnik")</li>
                            <li>@Html.ActionLink("Izmena radnika", "IzmeniRadnika", "Radnik")</li>
                            <li>@Html.ActionLink("dodavanje radnika", "Register", "Account")</li>
                        </ul>

                    </li>
                    <li class="sideItem" onclick="openSubitem3('subitem3')">
                        Otpremnice
                    </li>
                    <li>
                        <ul class="nav navbar-nav subitem" id="subitem3" style="display:none; width: 100% !important">
                            <li>@Html.ActionLink("Kreiranje otpremnice", "KreiranjeOtpremnice", "Otpremnica")</li>
                            <li>@Html.ActionLink("Pretraga kalkulacija", "PretragaKalkulacija", "Otpremnica")</li>
                        </ul>

                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
       
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - W-Manager</p>
        </footer>
    </div>

    <script>

    function openSidebar() {
        if (document.getElementById('sidebar').style.display == 'none') {
            document.getElementById('sidebar').style.display = 'inline-grid';
        }
        else if (document.getElementById('sidebar').style.display == 'inline-grid') {
            document.getElementById('sidebar').style.display = 'none';
        }
       
    }

    function openSubitem() {
        if (document.getElementById('subitem').style.display == 'none') {
            document.getElementById('subitem').style.display = 'inline-grid';
        }
        else if (document.getElementById('subitem').style.display == 'inline-grid') {
            document.getElementById('subitem').style.display = 'none';
        }
    }
     function openSubitem2() {
         if (document.getElementById('subitem2').style.display == 'none') {
             document.getElementById('subitem2').style.display = 'inline-grid';
         }
         else if (document.getElementById('subitem2').style.display == 'inline-grid') {
             document.getElementById('subitem2').style.display = 'none';
         }
    }
    function openSubitem3() {
        if (document.getElementById('subitem3').style.display == 'none') {
            document.getElementById('subitem3').style.display = 'inline-grid';
        }
        else if (document.getElementById('subitem3').style.display == 'inline-grid') {
            document.getElementById('subitem3').style.display = 'none';
        }
    }


    </script>




    @Scripts.Render("~/Scripts/Layout/toggle.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScripts")
    @RenderSection("scripts", required: false)
    @if (TempData["AlertSuccess"] != null)
    {
        <script>
             Lobibox.notify('success', {
             pauseDelayOnHover: true,
             continueDelayOnInactiveTab: false,
             msg: "@TempData["AlertSuccess"]",
             title: 'Uspeh'
             });
        </script>
    }
    @if (TempData["AlertError"] != null)
    {
        <script>
             Lobibox.notify('error', {
             pauseDelayOnHover: true,
             continueDelayOnInactiveTab: false,
             msg: "@TempData["AlertError"]",
             title: 'Greška'
    });
        </script>
    }
</body>
</html>
