@model WManager.Models.Otpremnica

@{
    ViewBag.Title = "TraziKalkulaciju";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("TraziKalkulaciju", "Otpremnica", FormMethod.Get, new { @class="tableForm"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Otpremnica</h4>
        <hr />
        
        <div class="form-group">
            @Html.LabelFor(model => model.OtpremnicaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtpremnicaId, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

       <div class="form-group">
            @Html.LabelFor(model => model.Lokacija, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lokacija, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Datum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" } })
              <p style="color:#ff9955">Uneti datum mora biti formata: mesec/dan/godina </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Trazi otpremnicu" class="btnTrazi" style="margin-left:70px;" />
            </div>
        </div>
    </div>
}
